---
layout: homepage
title: SOA Software Product Documents
description: The docs.soa.com landing page
product: all
category: none
navigation: cm-reference-left-nav
---

	<body class="soa-ui-dc-homepage">
		<div class="soa-ui-dc-container-top soa-ui-dc-clearthis">
			{% include logo %}
			<div class="soa-ui-dc-topsearch-container">
				<form class="soa-ui-dc-topsearch" action="action" method="post"><!-- search form, replace action -->
					<label for="soa-control-dc-search" class="soa-ui-dc-label soa-ui-dc-label-hidden">Enter Search Text</label>
					<input type="text" name="search" value="" id="soa-control-dc-search" placeholder="Search" class="soa-ui-dc-topsearch-input">
					<button class="soa-ui-dc-topsearch-button soa-ui-dc-icon-imgtxt soa-ui-dc-icon-magnifying-glass" type="button">Search</button>
				</form>
			</div>
		</div>
		<div class="soa-ui-dc-container-main">
			<h1 class="soa-ui-dc-content-header">Welcome to SOA Software Dev Center</h1>
			<!-- content section starts here -->
			<div class="soa-ui-dc-section">
				<h3 class="soa-ui-dc-section-header">Online Document Repository</h3>
				<p class="soa-ui-dc-section-paragraph">SOA Software is a leading provider of <a href="http://www.soa.com/solution/api-management">API Management</a> and <a href="http://www.soa.com/solutions/integrated_soa_governance">SOA Governance</a> products that help businesses accelerate their digital channels with APIs, drive partner adoption, monetize their assets, and achieve agility and operational excellence across their applications and datacenters. Some of the world&rsquo;s largest companies including Bank of America, Pfizer, and Verizon use SOA Software products.&nbsp; SOA Software is also recognized as a &ldquo;Leader&rdquo; in Gartner's Application Services Governance Magic Quadrant and by other <a href="http://www.soa.com/company/awards">analysts</a>. For more information on SOA Software&rsquo;s API Platform, see <a href="http://www.soa.com">http://www.soa.com</a></p>
			</div>
			<!-- content section ends here -->
			<div class="soa-ui-dc-section soa-control-ui-tabs">
				<ul class="soa-ui-dc-content-nav soa-ui-dc-clearthis">
					<li class="soa-ui-dc-content-nav-item"><a href="#soa-control-dc-communitymanager" class="soa-ui-dc-icon soa-ui-dc-content-nav-item-link-communitymanager soa-ui-dc-content-nav-item-link"><span class="soa-ui-dc-content-nav-item-link-firstword">COMMUNITY</span> MANAGER</a></li><!-- do not change link -->
					<li class="soa-ui-dc-content-nav-item"><a href="#soa-control-dc-apigateway" class="soa-ui-dc-icon soa-ui-dc-content-nav-item-link-apigateway soa-ui-dc-content-nav-item-link"><span class="soa-ui-dc-content-nav-item-link-firstword">API</span> GATEWAY</a></li><!-- do not change link -->
					<li class="soa-ui-dc-content-nav-item"><a href="#soa-control-dc-lifecyclemanager" class="soa-ui-dc-icon soa-ui-dc-content-nav-item-link-lifecyclemanager soa-ui-dc-content-nav-item-link"><span class="soa-ui-dc-content-nav-item-link-firstword">LIFECYCLE</span> MANAGER</a></li><!-- do not change link -->
				</ul>
				<!-- community manager panel starts here -->
				<div class="soa-ui-dc-section" id="soa-control-dc-communitymanager">
					<p class="soa-ui-dc-section-paragraph"><strong>Community Manager</strong> is a sophisticated developer community product to help enterprises develop an API portal to attract, manage, and support the developers that build Apps using their APIs.  View the <a href="{{ site.baseurl }}/cm/index.html">Community Manager Document Index</a>.</p>
					<!-- 3-col index starts here -->
					<ul class="soa-ui-dc-detail-columns soa-ui-dc-clearthis">
						<!-- col 1 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/cm/getting-started.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Getting Started</a></h4>
							<ul class="soa-ui-dc-detail-column-items">{% assign ctr = '' %}{% for weight in (1..site.MAXWEIGHT) %}{% for p in site.pages %}{% if p.weight == weight and p.product == 'cm' and p.category == 'gs' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}{% endfor %}{% for p in site.pages %}{% if p.weight == null and p.product == 'cm' and p.category == 'gs' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}
							      <li class="soa-ui-dc-detail-column-item"><a href="{{ site.baseurl }}/cm/getting-started.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li>
							</ul>
						</li>
						<!-- col 1 index ends here -->
						<!-- col 2 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/cm/reference.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Reference</a></h4>
							<ul class="soa-ui-dc-detail-column-items">{% assign ctr = '' %}{% for weight in (1..site.MAXWEIGHT) %}{% for p in site.pages %}{% if p.weight == weight and p.product == 'cm' and p.category == 'ref' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}{% endfor %}{% for p in site.pages %}{% if p.weight == null and p.product == 'cm' and p.category == 'ref' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}
							      <li class="soa-ui-dc-detail-column-item"><a href="{{ site.baseurl }}/cm/reference.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li>
							</ul>
						</li>
						<!-- col 2 index ends here -->
						<!-- col 3 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/cm/learning.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Learning</a></h4>
							<ul class="soa-ui-dc-detail-column-items">{% assign ctr = '' %}{% for weight in (1..site.MAXWEIGHT) %}{% for p in site.pages %}{% if p.weight == weight and p.product == 'cm' and p.category == 'learn' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}{% endfor %}{% for p in site.pages %}{% if p.weight == null and p.product == 'cm' and p.category == 'learn' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}
							      <li class="soa-ui-dc-detail-column-item"><a href="{{ site.baseurl }}/cm/getting-started.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li>
							</ul>
						</li>
						<!-- col 3 index ends here -->
					</ul>
					<!-- 3-col index ends here -->
				</div>
				<!-- community manager panel ends here -->
				<!-- api gateway panel starts here -->
				<div class="soa-ui-dc-section" id="soa-control-dc-apigateway">
					<p class="soa-ui-dc-section-paragraph"><strong>API Gateway</strong> allows organizations to quickly and cost-effectively develop, secure, manage and monitor their APIs in an increasingly connected world by securely and rapidly connecting applications across platforms, devices and channels.  View the <a href="{{ site.baseurl }}/ag/index.html">API Gateway Document Index</a>.</p>
					<!-- 3-col index starts here -->
					<ul class="soa-ui-dc-detail-columns soa-ui-dc-clearthis">
						<!-- col 1 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/ag/getting-started.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Getting Started</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">{% assign ctr = '' %}{% for weight in (1..site.MAXWEIGHT) %}{% for p in site.pages %}{% if p.weight == weight and p.product == 'ag' and p.category == 'gs' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}{% endfor %}{% for p in site.pages %}{% if p.weight == null and p.product == 'ag' and p.category == 'gs' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}
							      <li class="soa-ui-dc-detail-column-item"><a href="{{ site.baseurl }}/ag/getting-started.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li>
							</ul>
						</li>
						<!-- col 1 index ends here -->
						<!-- col 2 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/ag/reference.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Reference</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">{% assign ctr = '' %}{% for weight in (1..site.MAXWEIGHT) %}{% for p in site.pages %}{% if p.weight == weight and p.product == 'ag' and p.category == 'ref' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}{% endfor %}{% for p in site.pages %}{% if p.weight == null and p.product == 'ag' and p.category == 'ref' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}
							      <li class="soa-ui-dc-detail-column-item"><a href="{{ site.baseurl }}/ag/reference.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li>
							</ul>
						</li>
						<!-- col 2 index ends here -->
						<!-- col 3 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/ag/learning.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Learning</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">{% assign ctr = '' %}{% for weight in (1..site.MAXWEIGHT) %}{% for p in site.pages %}{% if p.weight == weight and p.product == 'ag' and p.category == 'learn' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}{% endfor %}{% for p in site.pages %}{% if p.weight == null and p.product == 'ag' and p.category == 'learn' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}
							      <li class="soa-ui-dc-detail-column-item"><a href="{{ site.baseurl }}/ag/learning.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li>
							</ul>
						</li>
						<!-- col 3 index ends here -->
					</ul>
					<!-- 3-col index ends here -->
				</div>
				<!-- api gateway panel ends here -->
				<!-- lifecycle manager panel starts here -->
				<div class="soa-ui-dc-section" id="soa-control-dc-lifecyclemanager">
					<p class="soa-ui-dc-section-paragraph"><strong>Lifecycle Manager</strong> is an industry-leading API lifecycle management platform that automates machine- and role-based validations and signoffs across the software development lifecycle.  View the <a href="{{ site.baseurl }}/lm/index.html">Lifecycle Manager Document Index</a>.</p>
					<!-- 3-col index starts here -->
					<ul class="soa-ui-dc-detail-columns soa-ui-dc-clearthis">
						<!-- col 1 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/lm/getting-started.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Getting Started</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">{% assign ctr = '' %}{% for weight in (1..site.MAXWEIGHT) %}{% for p in site.pages %}{% if p.weight == weight and p.product == 'lm' and p.category == 'gs' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}{% endfor %}{% for p in site.pages %}{% if p.weight == null and p.product == 'lm' and p.category == 'gs' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}
							      <li class="soa-ui-dc-detail-column-item"><a href="{{ site.baseurl }}/lm/getting-started.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li>
							</ul>
						</li>
						<!-- col 1 index ends here -->
						<!-- col 2 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/lm/reference.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Reference</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">{% assign ctr = '' %}{% for weight in (1..site.MAXWEIGHT) %}{% for p in site.pages %}{% if p.weight == weight and p.product == 'lm' and p.category == 'ref' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}{% endfor %}{% for p in site.pages %}{% if p.weight == null and p.product == 'lm' and p.category == 'ref' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}
							      <li class="soa-ui-dc-detail-column-item"><a href="{{ site.baseurl }}/lm/reference.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li>
							</ul>
						</li>
						<!-- col 2 index ends here -->
						<!-- col 3 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/lm/learning.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Learning</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">{% assign ctr = '' %}{% for weight in (1..site.MAXWEIGHT) %}{% for p in site.pages %}{% if p.weight == weight and p.product == 'lm' and p.category == 'learn' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}{% endfor %}{% for p in site.pages %}{% if p.weight == null and p.product == 'lm' and p.category == 'learn' and ctr.size < 3 and p.no-nav == null %}{% capture temp %}{{ ctr }}*{% endcapture %}{% assign ctr = temp %}
							      <li class="soa-ui-dc-detail-column-item">
							        <a class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon {% if p.type == 'pdf' %}soa-ui-dc-icon-pdf-17px{% else %}soa-ui-dc-icon-document-20px{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
							          {% if p.nav-title != null %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}
							        </a>
							      </li>{% endif %}{% endfor %}
							      <li class="soa-ui-dc-detail-column-item"><a href="{{ site.baseurl }}/lm/learning.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li>
							</ul>
						</li>
						<!-- col 3 index ends here -->
					</ul>
					<!-- 3-col index ends here -->
				</div>
				<!-- lifecycle manager panel starts here -->
			</div>
			{% include footer %}
		</div>
		<script type="text/javascript">
			$(function(){
				$(".soa-control-ui-tabs").tabs();
			})
		</script>
	</body>