::-webkit-input-placeholder {
  color: #494e4e;
  font-style: italic;
}
:-moz-placeholder {
  /* Firefox 18- */

  color: #494e4e;
  font-style: italic;
}
::-moz-placeholder {
  /* Firefox 19+ */

  color: #494e4e;
  font-style: italic;
}
:-ms-input-placeholder {
  color: #494e4e;
  font-style: italic;
}
body {
  background: url(images/background-sliver.png) repeat-x;
}
body.soa-ui-dc-homepage {
  background-image: url(images/header-BG-sliver-home.png);
}
.soa-ui-dc- {
  /***** icons, image replacement ****/

  /**** scaffolding *****/

  /****** top area *****/

  /****** content area ******/

}
.soa-ui-dc-clearthis:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.soa-ui-dc-button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #fff;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #ffffff 22%, #e6e6e6 81%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #ffffff), color-stop(81%, #e6e6e6));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #ffffff 22%, #e6e6e6 81%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #ffffff 22%, #e6e6e6 81%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #ffffff 22%, #e6e6e6 81%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #ffffff 22%, #e6e6e6 81%);
  /* W3C */

  border: 1px solid;
  border-color: #ccc #ccc #b3b3b3;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333;
  font: 12px/20px Helvetica, Arial, Sans-serif;
  margin: 0;
  padding: 2px 10px 1px;
  text-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.soa-ui-dc-button:hover {
  background: #e6e6e6;
  box-shadow: none;
  text-shadow: none;
}
.soa-ui-dc-button:active {
  background-image: -moz-linear-gradient(top, #e6e6e6 22%, #ffffff 81%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #e6e6e6), color-stop(81%, #ffffff));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #e6e6e6 22%, #ffffff 81%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #e6e6e6 22%, #ffffff 81%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #e6e6e6 22%, #ffffff 81%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #e6e6e6 22%, #ffffff 81%);
  /* W3C */

}
.soa-ui-dc-button:focus {
  outline: none;
}
.soa-ui-dc-icon {
  position: relative;
}
.soa-ui-dc-label-hidden {
  display: none;
}
.soa-ui-dc-icon:before,
.soa-ui-dc-icon-imgtxt {
  background: url(images/DC-Sprites_icons.png) no-repeat;
  content: ".";
  display: block;
  font-size: 0.01em;
  overflow: hidden;
  text-indent: -99999px;
}
.soa-ui-dc-icon:before,
.soa-ui-dc-icon-imgtxt {
  height: 30px;
  left: -20px;
  position: absolute;
  top: 0;
  width: 27px;
}
.soa-ui-dc-icon-imgtxt {
  left: auto;
  position: static;
  top: auto;
}
.soa-ui-dc-icon-document:before,
.soa-ui-dc-icon-document.soa-ui-dc-icon-imgtxt {
  background-position: center -200px;
}
.soa-ui-dc-icon-pdf:before,
.soa-ui-dc-icon-pdf.soa-ui-dc-icon-imgtxt {
  background-position: center -145px;
}
.soa-ui-dc-icon-document-20px:before,
.soa-ui-dc-icon-document-20px.soa-ui-dc-icon-imgtxt,
.soa-ui-dc-icon-pdf-17px:before,
.soa-ui-dc-icon-pdf-17px.soa-ui-dc-icon-imgtxt {
  background-position: center -101px;
  height: 20px;
  left: -10px;
  top: -6px;
  width: 26px;
}
.soa-ui-dc-icon-action-dark:before,
.soa-ui-dc-icon-action-dark.soa-ui-dc-icon-imgtxt {
  height: 13px;
  background-position: center -25px;
  left: -26px;
  width: 16px;
}
.soa-ui-dc-icon-action-light:before,
.soa-ui-dc-icon-action-light.soa-ui-dc-icon-imgtxt {
  background-position: center -62px;
  height: 16px;
  left: -7px;
  top: -3px;
  width: 16px;
}
.soa-ui-dc-icon-pdf-17px:before,
.soa-ui-dc-icon-pdf-17px.soa-ui-dc-icon-imgtxt {
  background-position: center -750px;
}
.soa-ui-dc-container-top,
.soa-ui-dc-container-main {
  margin: 0 auto;
  position: relative;
  width: 791px;
}
.soa-ui-dc-container-top {
  height: 130px;
}
.soa-ui-dc-homepage .soa-ui-dc-container-top {
  height: 102px;
}
.soa-ui-dc-container-main-left {
  float: left;
  padding-right: 23px;
  width: 175px;
}
.soa-ui-dc-container-main-content {
  margin-left: 198px;
}
.soa-ui-dc-logo {
  background: url(images/SOAlogo.png);
  height: 40px;
  width: 149px;
}
h2.soa-ui-dc-logo-container {
  background: transparent;
  left: 0;
  padding: 0;
  position: absolute;
  top: 19px;
}
.soa-ui-dc-topnav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.soa-ui-dc-topnav-container {
  left: 196px;
  position: absolute;
  top: 24px;
}
.soa-ui-dc-topnav-item {
  float: left;
  margin: 0;
  padding: 0 0 0 55px;
}
.soa-ui-dc-topnav-item:first-child {
  padding: 0;
}
.soa-ui-dc-topnav-item-active {
  background: url(images/DC-nav-active.png) no-repeat bottom center;
}
.soa-ui-dc-topnav-item-link {
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  margin-bottom: 25px;
}
a.soa-ui-dc-topnav-item-link {
  color: #989798;
}
.soa-ui-dc-topnav-item-link-firstword {
  display: block;
}
a.soa-ui-dc-topnav-item-link:hover,
.soa-ui-dc-topnav-item-active a.soa-ui-dc-topnav-item-link {
  color: #cb2026;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-icon {
  background: url(images/DC-Sprites_product-icons.png) no-repeat;
  padding-left: 35px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-icon:before {
  content: none;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-apigateway {
  background-position: 0 -626px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-apigateway:hover,
.soa-ui-dc-topnav-item-active .soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-apigateway {
  background-position: 0 -463px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-communitymanager {
  background-position: 0 -680px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-communitymanager:hover,
.soa-ui-dc-topnav-item-active .soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-communitymanager {
  background-position: 0 -517px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-lifecyclemanager {
  background-position: 0 -734px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-lifecyclemanager:hover,
.soa-ui-dc-topnav-item-active .soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-lifecyclemanager {
  background-position: 0 -571px;
}
.soa-ui-dc-subnav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.soa-ui-dc-subnav-item {
  float: left;
  margin: 0;
  padding: 0 0 0 65px;
}
.soa-ui-dc-subnav-item:first-child {
  padding: 0;
}
a.soa-ui-dc-subnav-item-link {
  color: #a3a5a1;
  font-size: 15px;
  font-weight: bold;
}
a.soa-ui-dc-subnav-item-link:hover,
a.soa-ui-dc-subnav-item-link.soa-ui-dc-subnav-item-link-active {
  color: #2683b4;
}
.soa-ui-dc-subnav-container {
  left: 223px;
  position: absolute;
  top: 85px;
}
.soa-ui-dc-topsearch {
  background: #fff;
  border-radius: 3px;
  padding: 3px 4px;
}
.soa-ui-dc-topsearch-input {
  border: none;
  height: 14px;
  width: 134px;
}
.soa-ui-dc-topsearch-container {
  right: -4px;
  position: absolute;
  top: 81px;
}
.soa-ui-dc-homepage .soa-ui-dc-topsearch-container {
  top: 30px;
}
.soa-ui-dc-topsearch-button,
.soa-ui-dc-topsearch-button:hover,
.soa-ui-dc-topsearch-button:active {
  background: #2683b4 url(images/DC-Sprites_icons.png) center -251px;
  border-radius: 3px;
  box-shadow: none;
  display: inline-block;
  height: 16px;
  margin: 0;
  width: 16px;
}
.soa-ui-dc-content-header {
  background: none;
  color: #2683b4;
  font-size: 17px;
  padding: 0 0 14px;
}
.soa-ui-dc-content-header.soa-ui-dc-icon {
  background: url(images/DC-Sprites_product-icons.png) no-repeat;
  color: #cb2026;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  height: 46px;
  line-height: 20px;
  padding-left: 53px;
}
.soa-ui-dc-content-header.soa-ui-dc-icon:before {
  content: none;
}
.soa-ui-dc-content-header.soa-ui-dc-icon-firstword {
  display: block;
}
.soa-ui-dc-content-header.soa-ui-dc-icon.soa-ui-dc-content-header-communitymanager {
  background-position: 0 -44px;
}
.soa-ui-dc-content-header.soa-ui-dc-icon.soa-ui-dc-content-header-apigateway {
  background-position: 0 -114px;
}
.soa-ui-dc-content-header.soa-ui-dc-icon.soa-ui-dc-content-header-lifecyclemanager {
  background-position: 0 -184px;
}
.soa-ui-dc-content-header-details {
  display: inline-block;
  vertical-align: super;
}
.soa-ui-dc-content-header-details-dt,
.soa-ui-dc-content-header-details-dd {
  display: inline;
}
.soa-ui-dc-content-header-details-dt {
  font-style: italic;
  padding-left: 17px;
}
.soa-ui-dc-content-header-details-dt:after {
  content: ":";
}
.soa-ui-dc-content-nav {
  border-top: 2px solid #acabab;
  list-style: none;
  margin: 0;
  padding: 22px 0;
}
.soa-ui-dc-content-nav-item {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 0 0 56px;
  width: 219px;
}
.soa-ui-dc-content-nav-item:first-child {
  padding: 0;
}
.soa-ui-dc-content-nav-item-link {
  display: block;
  font-size: 17px;
  font-weight: bold;
  height: 46px;
  line-height: 20px;
  width: 155px;
}
a.soa-ui-dc-content-nav-item-link {
  color: #989798;
}
.soa-ui-dc-content-nav-item-link-firstword {
  display: block;
  padding-top: 3px;
}
.soa-ui-dc-content-nav-item-link:before {
  content: none;
}
a.soa-ui-dc-content-nav-item-link:hover,
.ui-tabs-active .soa-ui-dc-content-nav-item-link {
  color: #cb2026;
}
.soa-ui-dc-content-nav-item-link.soa-ui-dc-icon {
  background: url(images/DC-Sprites_product-icons.png) no-repeat;
  padding-left: 53px;
}
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-communitymanager {
  background-position: 0 -254px;
}
.ui-tabs-active .soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-communitymanager,
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-communitymanager:hover {
  background-position: 0 -44px;
}
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-apigateway {
  background-position: 0 -324px;
}
.ui-tabs-active .soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-apigateway,
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-apigateway:hover {
  background-position: 0 -114px;
}
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-lifecyclemanager {
  background-position: 0 -394px;
}
.ui-tabs-active .soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-lifecyclemanager,
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-lifecyclemanager:hover {
  background-position: 0 -184px;
}
.soa-ui-dc-content-catalog-item {
  border-top: 1px solid #c0bfbf;
  list-style: none;
  margin: 0;
  padding: 16px 0 0;
}
.soa-ui-dc-content-catalog-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.soa-ui-dc-detail-column {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 0 0 35px;
  width: 240px;
}
.soa-ui-dc-detail-column:first-child {
  padding: 0;
}
.soa-ui-dc-detail-column-header {
  background: #eeeff0;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #eeeff0 22%, #dcddde 81%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #eeeff0), color-stop(81%, #dcddde));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #eeeff0 22%, #dcddde 81%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #eeeff0 22%, #dcddde 81%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #eeeff0 22%, #dcddde 81%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #eeeff0 22%, #dcddde 81%);
  /* W3C */

  font-size: 17px;
  font-weight: bold;
  font-weight: normal;
  padding: 6px 10px 5px 41px;
}
.soa-ui-dc-detail-column-header .soa-ui-dc-icon:before {
  top: 1px;
}
.soa-ui-dc-detail-column-item {
  list-style: none;
  margin: 0;
  padding: 10px 0 10px 20px;
}
.soa-ui-dc-detail-column-item-link {
  display: block;
  padding-left: 20px;
}
.soa-ui-dc-detail-column-item-link.soa-ui-dc-icon:before {
  top: -5px;
}
.soa-ui-dc-detail-column-item-link.soa-ui-dc-icon.soa-ui-dc-icon-action-light:before {
  top: -2px;
}
.soa-ui-dc-detail-column-items {
  margin: 0;
  padding: 10px 0 0 0;
}
.soa-ui-dc-detail-columns {
  margin: 0;
  padding: 0;
}
.soa-ui-dc-footer {
  text-align: center;
  margin: 0;
  padding: 50px 0 10px;
}
.soa-ui-dc-footer-item {
  border-left: 1px solid #6d6e71;
  color: #6d6e71;
  display: inline;
  font-size: 10px;
  margin: 0 0 0 20px;
  padding: 0 0 0 20px;
}
.soa-ui-dc-footer-item:first-child {
  border: none;
  margin: 0;
  padding: 0;
}
a.soa-ui-dc-footer-item-link {
  color: #6d6e71;
}
a.soa-ui-dc-footer-item-link:hover {
  text-decoration: underline;
}
.soa-ui-dc-container-main-left-header {
  color: #7d7e7f;
  font-size: 13px;
  padding: 0;
}
a.soa-ui-dc-container-main-left-header-link {
  background: #eeeeef;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #eeeeef 22%, #dddedf 81%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #eeeeef), color-stop(81%, #dddedf));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #eeeeef 22%, #dddedf 81%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #eeeeef 22%, #dddedf 81%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #eeeeef 22%, #dddedf 81%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #eeeeef 22%, #dddedf 81%);
  /* W3C */

  border-bottom: 1px solid #c6c5c6;
  border-radius: 1px 1px 0 0;
  color: #7d7e7f;
  display: block;
  padding: 6px 12px;
}
.soa-ui-dc-container-main-left-nav {
  background: #ebeced;
  border-radius: 0 0 1px 1px;
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.soa-ui-dc-container-main-left-nav-item {
  color: #7d7e7f;
  margin: 0;
  padding: 0;
}
.soa-ui-dc-container-main-left-nav-item-selected {
  font-weight: bold;
}
a.soa-ui-dc-container-main-left-nav-item-link {
  border-bottom: 1px solid #c6c5c6;
  color: #7d7e7f;
  display: block;
  padding: 6px 12px;
}
.soa-ui-dc-container-main-left-nav-inner a.soa-ui-dc-container-main-left-nav-item-link {
  background: none;
  border: none;
}
.soa-ui-dc-container-main-left-nav-inner {
  border-bottom: 1px solid #c6c5c6;
}
.soa-ui-dc-document-type {
  padding: 0;
}
.soa-ui-dc-section-header,
.soa-ui-dc-section-paragraph {
  color: #444949;
  font-size: 12px;
  margin: 0;
  padding: 0 0 16px 0;
}
.soa-ui-dc-section-header {
  font-weight: bold;
  padding-bottom: 5px;
}
.soa-ui-dc-2col-with-avatar .soa-ui-dc-avatar-box,
.soa-ui-dc-2col-with-avatar .soa-ui-dc-details-box {
  float: left;
}
.soa-ui-dc-2col-with-avatar .soa-ui-dc-avatar-box {
  width: 27px;
}
.soa-ui-dc-2col-with-avatar .soa-ui-dc-details-box {
  padding-left: 20px;
  width: 524px;
}
.soa-ui-dc-user-item .soa-ui-dc-2col-with-avatar .soa-ui-dc-details-box .soa-ui-dc-buttons {
  position: absolute;
  top: 0;
  right: 0;
}
