/*---------------------------------------- css for apidoc ----------------------------------------*/
.apidocContent .downloadModule>p, .apidocContent span.selectbox {
	display: inline-block;
}
/*---------- container for apidoc ----------*/
.editable .apidocContent {
	background: url(contentBody-bg.png) repeat-y;
	padding: 0 20px 4px;
	border-bottom: 1px solid #000;
}
.Content-Wide .editable .apidocContent, .Content-Widest .editable .apidocContent {
	background-image: url(contentBody-wide-bg.png);
}

/*---------- paragraph styles ----------*/

.apidocContent p {
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
	padding-bottom: 6px;
	padding-top: 0;
}

span.apidoc_code { /*span tag for inline code formatting*/
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
}

p.apidoc_note { /*Notes in paragraphs: pale gray background*/
	font-family: Arial;
	font-size: 12px;
	background-color: #F6F6F6;
	padding: 11px;
	display:block;
}

.apidoc_note { /*span tag for note in procedures: pale gray background*/
	font-family: Arial;
	font-size: 12px;
	background-color: #F6F6F6;
	padding: 11px;
	display:block;
}

p.apidoc_image_p { /*For images: Extra overflow property gives scroll bar*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #000000;
	overflow-x:auto;
}

.apidoc_image_p { /*span tag for images in procedures, with display:block.*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #000000;
	overflow-x:auto;
	display:block;
}

.apidoc_overflow { /*Scroll bar below images. Inline style.*/
	overflow-x:auto;
}

.apidoc_p_subsequent {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #000000;
	padding-bottom: 3px;
}

p.apidoc_backtotop { /* horiz rule for below back to top lines */
	border-bottom: 2px solid gray; 
	padding-top: 12px;
	padding-bottom: 8px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
}

span.apidoc_requestelementname { /*bold for request element name per wireframe design*/
	color: #000000;
	font-weight: bold;
}

span.apidoc_requestvalue { /*green 00693C for request value per wireframe design*/
	color: #00693C;
}

/*---------- code styles ----------*/

pre.apidoc_pre { /*Message and code samples: black monospace on gray background, scroll bar.*/
	background: #F8F4EE;
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 10px;
	padding-left: 2px;
	overflow-x:auto;
	line-height: 15px;
}

.apidocContent pre { /*Message and code samples: black monospace on gray background, scroll bar*/
	background: #F8F4EE;
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 10px;
	padding-left: 2px;
	overflow-x:auto;
	line-height: 15px;
}

div.apidoc_div_codeendpoint { /*endpoint only: green monospace on pale gray background, scroll bar*/
	padding: 2px;
	MARGIN: 2px;
	BACKGROUND: #F8F4EE;
	font-family: "Courier New", Courier, monospace;
	color: #00693C; /*green 00693C per wireframe design*/
	font-size: 11px;
	overflow-x:auto;
	padding-top: 8px;
	padding-bottom: 6px;
}

/*---------- ^L List Styles ----------*/

.apidocContent ul, .apidocContent ul li, .apidocContent ol, .apidocContent ol li {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin-left: 13px;
	padding-left: 8px;
}

.apidocContent ul, .apidocContent ul li {
	list-style: disc;
}

.apidocContent ul li, .apidocContent ol li {
	padding-top: 1px;
	padding-bottom: 3px; 
}

.apidocContent ol li p{ /*ordered list item subsequent paragraph less space above. Font info included for RH output.*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding-top: 2px;
	padding-bottom: 4px;
}

.apidocContent ol li ol li{ /*added 11/20/12*/ 
	list-style-type: lower-alpha;
}

.apidocContent ul {
	padding-bottom: 3px;
}

.apidocContent ul li p{ /*unordered list item subsequent paragraph less space above.*/
	line-height: 16px;
	padding-top: 2px;
	padding-bottom: 4px;
}

/*---------- heading styles ----------*/

.apidocContent h2 { /*Top-level topic heading*/ 
	color: #002663;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	padding-top: 12px; /*padding instead of margin for dot border*/
	padding-bottom: 6px;
}

.apidocContent h3 { /*Second-level topic heading*/
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold; /*compensate for reset*/
	padding: 0px;
	line-height: 24px;
	padding-top: 16px;
	padding-bottom: 8px;
}

.apidocContent h4 { /*Third-level topic heading*/
	font-family: Arial;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.apidocContent h5 { /*Fourth-level topic heading including procedure headings*/
	color: #002663;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold; /*compensate for reset*/
	padding: 0px; /*compensate for reset*/
	padding-top: 9px;
	padding-bottom: 9px;
}

/*---------- definition list styles (for glossary) ----------*/

dl.apidoc_dl { /*definition list*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px
}

dl.apidoc_dl dt { /*glossary term*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 3px;
}

dl.apidoc_dl dd { /*glossary definition*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 12px;
	padding-left: 18px;
}

/*---------- ^T Table Styles ----------*/

.tableparmsresponse { /*table for request and response parameters*/
	text-align: left;
	padding-bottom: 14px;
}

th.apidoc_th { /*table header font and alignment only, for tables without lines*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-align: left;
	vertical-align:top;
	color: #000000;
}

.tableparmsresponse th { /*table header for parameter table*/
	font-family: Helvetica, Arial, sans-serif;
	border: 1px solid #000000;
	font-size: 11px;
	text-align: left;
	vertical-align:top;
	color: #000000;
	background-color: #F8F4EE;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.tableparmsresponse td { /*table text*/
	font-family: Helvetica, Arial, sans-serif;
	border: 1px solid #000000;
	font-size: 11px;
	vertical-align: top;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.tableparmsresponse tr td p{ /*table text subsequent paragraphs*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	vertical-align: top;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 1px;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	line-height: 14px;
}

ul.apidoctable_ul, ul.apidoctable_ul li, ol.apidoctable_ol, ol.apidoctable_ol li { /*Styles for lists within tables, less spacing, added 12/7/12)*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	vertical-align: top;
	margin-top: -1px;
	margin-bottom: -2px;
	margin-left: 6px;
	padding-left: 5px;
}

