<!DOCTYPE html>
<html lang="en">
	{% include header %}
	<body>
		<div class="soa-ui-dc-container-top soa-ui-dc-clearthis">
			{% include logo %}
			{% include search %}
			{% include prod-topnav %}
		</div>
		<div class="soa-ui-dc-container-main soa-ui-dc-clearthis">
			{% include prod-leftnav %}
			<div class="soa-ui-dc-container-main-content"><!-- main content starts here -->
				<div class="documentation supportContent">
					<h2 id="top">{{ page.title }}</h2>
					{{ content }}
					<div class = "divider1"></div>
					{% include catalog %}
				</div>
				<!-- main content ends here -->
			</div>
			{% include footer %}
		</div>
	</body>
</html>
