<!DOCTYPE html>
<html lang="en">
	{% include header %}
	<body>
		<div class="soa-ui-dc-container-top soa-ui-dc-clearthis">
			<h2 class="soa-ui-dc-logo-container">
				<a href="{{ site.baseurl }}/" class="soa-ui-dc-logo soa-ui-dc-icon-imgtxt">SOA Software &trade;, Powering the API Economy</a><!-- logo link, replace href -->
			</h2>
			{% include cm-top-nav %}
		</div>
		<div class="soa-ui-dc-container-main soa-ui-dc-clearthis">
			{% include {{page.navigation}} %}

			<div class="soa-ui-dc-container-main-content"><!-- main content starts here -->
				<div class="documentation supportContent">
					{{ content }}
				</div>
				<!-- main content ends here -->
			</div>
			{% include footer %}
		</div>
	</body>
</html>
