<!DOCTYPE html>
<html lang="en">
	{% include header %}
	<body class="soa-ui-dc-homepage">
		<div class="soa-ui-dc-container-top soa-ui-dc-clearthis">
			<h1 class="soa-ui-dc-logo-container">
				<a href="{{ site.baseurl }}/" class="soa-ui-dc-logo soa-ui-dc-icon-imgtxt">SOA Software &trade;, Powering the API Economy</a><!-- logo link, replace href -->
			</h1>
			<div class="soa-ui-dc-topsearch-container">
				<form class="soa-ui-dc-topsearch" action="action" method="post"><!-- search form, replace action -->
					<label for="soa-control-dc-search" class="soa-ui-dc-label soa-ui-dc-label-hidden">Enter Search Text</label>
					<input type="text" name="search" value="" id="soa-control-dc-search" placeholder="Search" class="soa-ui-dc-topsearch-input">
					<button class="soa-ui-dc-topsearch-button soa-ui-dc-icon-imgtxt soa-ui-dc-icon-magnifying-glass" type="button">Search</button>
				</form>
			</div>
		</div>
		<div class="soa-ui-dc-container-main">
			<h1 class="soa-ui-dc-content-header">Welcome to SOA Software Dev Center</h1>
			<!-- content section starts here -->
			<div class="soa-ui-dc-section">
				<h3 class="soa-ui-dc-section-header">Praesent interdum condimentu</h3>
				<p class="soa-ui-dc-section-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum condimentum sapien, id vestibulum velit sagittis non. Pellentesque fermentum adipiscing est, ut posuere metus pulvinar et. Nulla faucibus, nulla egestas tempor fermentum, magna mauris laoreet purus, eget fringilla magna odio et metus. Curabitur orci nisi, euismod at feugiat hendrerit, egut posuere metus pulvinar et. Nulla faucibus, nulla egestas tempor fermentum, magna mauris estas vitae neque. Pellentesque nec turpis at quam sodales varius.</p>
			</div>
			<!-- content section ends here -->
			<div class="soa-ui-dc-section soa-control-ui-tabs">
				<ul class="soa-ui-dc-content-nav soa-ui-dc-clearthis">
					<li class="soa-ui-dc-content-nav-item"><a href="#soa-control-dc-communitymanager" class="soa-ui-dc-icon-imgtxt soa-ui-dc-content-nav-item-link-communitymanager soa-ui-dc-content-nav-item-link">COMMUNITY MANAGER</a></li><!-- do not change link -->
					<li class="soa-ui-dc-content-nav-item"><a href="#soa-control-dc-apigateway" class="soa-ui-dc-icon-imgtxt soa-ui-dc-content-nav-item-link-apigateway soa-ui-dc-content-nav-item-link">API GATEWAY</a></li><!-- do not change link -->
					<li class="soa-ui-dc-content-nav-item"><a href="#soa-control-dc-lifecyclemanager" class="soa-ui-dc-icon-imgtxt soa-ui-dc-content-nav-item-link-lifecyclemanager soa-ui-dc-content-nav-item-link">LIFECYCLE MANAGER</a></li><!-- do not change link -->
				</ul>
				<!-- community manager panel starts here -->
				<div class="soa-ui-dc-section" id="soa-control-dc-communitymanager">
					<p class="soa-ui-dc-section-paragraph"><strong>Community Manager</strong> dolor sit amet, consectetur adipiscing elit. Praesent interdum condimentum sapien, id vestibulum velit sagittis non. Pellentesque fermentum adipiscing est, ut posuere metus pulvinar et. Nulla faucibus, nulla egestas tempor fermentum, magna mauris laoreet purus, eget fringilla magna odio et metus. Curabitur orci nisi, euismod at feugiat hendrerit</p>
					<!-- 3-col index starts here -->
					<ul class="soa-ui-dc-detail-columns soa-ui-dc-clearthis">
						<!-- col 1 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="cm/getting-started.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Getting Started</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">CM Praesent interdum condimentu</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Lorem ipsum vesbulum velit sagittisn</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Cellentesque fermentum</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li><!-- change href -->
							</ul>
						</li>
						<!-- col 1 index ends here -->
						<!-- col 2 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="pm/pm-reference.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Reference</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">CM Praesent interdum condimentu</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Lorem ipsum vesbulum velit sagittisn</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Cellentesque fermentum</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li><!-- change href -->
							</ul>
						</li>
						<!-- col 2 index ends here -->
						<!-- col 3 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="page.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Learning</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">CM Praesent interdum condimentu</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Lorem ipsum vesbulum velit sagittisn</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Cellentesque fermentum</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li><!-- change href -->
							</ul>
						</li>
						<!-- col 3 index ends here -->
					</ul>
					<!-- 3-col index ends here -->
				</div>
				<!-- community manager panel ends here -->
				<!-- api gateway panel starts here -->
				<div class="soa-ui-dc-section" id="soa-control-dc-apigateway">
					<p class="soa-ui-dc-section-paragraph"><strong>API Gateway</strong> dolor sit amet, consectetur adipiscing elit. Praesent interdum condimentum sapien, id vestibulum velit sagittis non. Pellentesque fermentum adipiscing est, ut posuere metus pulvinar et. Nulla faucibus, nulla egestas tempor fermentum, magna mauris laoreet purus, eget fringilla magna odio et metus. Curabitur orci nisi, euismod at feugiat hendrerit</p>
					<!-- 3-col index starts here -->
					<ul class="soa-ui-dc-detail-columns soa-ui-dc-clearthis">
						<!-- col 1 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="pm/pm-reference.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Getting Started</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">
								<li class="soa-ui-dc-detail-column-item"><a href="pm/pm-reference.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">AG Praesent interdum condimentu</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="pm/pm-reference.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Lorem ipsum vesbulum velit sagittisn</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="pm/pm-reference.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Cellentesque fermentum</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="pm/pm-reference.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li><!-- change href -->
							</ul>
						</li>
						<!-- col 1 index ends here -->
						<!-- col 2 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="pm/pm-reference.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Reference</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">CM Praesent interdum condimentu</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Lorem ipsum vesbulum velit sagittisn</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Cellentesque fermentum</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li><!-- change href -->
							</ul>
						</li>
						<!-- col 2 index ends here -->
						<!-- col 3 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="page.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Learning</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">CM Praesent interdum condimentu</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Lorem ipsum vesbulum velit sagittisn</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Cellentesque fermentum</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li><!-- change href -->
							</ul>
						</li>
						<!-- col 3 index ends here -->
					</ul>
					<!-- 3-col index ends here -->
				</div>
				<!-- api gateway panel ends here -->
				<!-- lifecycle manager panel starts here -->
				<div class="soa-ui-dc-section" id="soa-control-dc-lifecyclemanager">
					<p class="soa-ui-dc-section-paragraph"><strong>Lifecycle Manager</strong> dolor sit amet, consectetur adipiscing elit. Praesent interdum condimentum sapien, id vestibulum velit sagittis non. Pellentesque fermentum adipiscing est, ut posuere metus pulvinar et. Nulla faucibus, nulla egestas tempor fermentum, magna mauris laoreet purus, eget fringilla magna odio et metus. Curabitur orci nisi, euismod at feugiat hendrerit</p>
					<!-- 3-col index starts here -->
					<ul class="soa-ui-dc-detail-columns soa-ui-dc-clearthis">
						<!-- col 1 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="page.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Getting Started</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">LM Praesent interdum condimentu</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Lorem ipsum vesbulum velit sagittisn</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Cellentesque fermentum</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li><!-- change href -->
							</ul>
						</li>
						<!-- col 1 index ends here -->
						<!-- col 2 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="page.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Reference</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">CM Praesent interdum condimentu</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Lorem ipsum vesbulum velit sagittisn</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Cellentesque fermentum</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li><!-- change href -->
							</ul>
						</li>
						<!-- col 2 index ends here -->
						<!-- col 3 index starts here -->
						<li class="soa-ui-dc-detail-column">
							<h4 class="soa-ui-dc-detail-column-header"><a href="page.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Learning</a></h4><!-- change href -->
							<ul class="soa-ui-dc-detail-column-items">
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">CM Praesent interdum condimentu</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Lorem ipsum vesbulum velit sagittisn</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-document-20px">Cellentesque fermentum</a></li><!-- change href -->
								<li class="soa-ui-dc-detail-column-item"><a href="page.html" class="soa-ui-dc-detail-column-item-link soa-ui-dc-icon soa-ui-dc-icon-action-light">More</a></li><!-- change href -->
							</ul>
						</li>
						<!-- col 3 index ends here -->
					</ul>
					<!-- 3-col index ends here -->
				</div>
				<!-- lifecycle manager panel starts here -->
			</div>
			{% include footer %}
		</div>
		<script type="text/javascript">
			$(function(){
				$(".soa-control-ui-tabs").tabs();
			})
		</script>
	</body>
</html>