<!DOCTYPE html>
<html lang="en">
	<head>
		{% include header %}
		{% include unsorted-pages-all %}
	</head>
	<body class="soa-ui-dc-homepage">
		<div class="soa-ui-dc-container-main">
		    <div class="soa-ui-dc-container-top soa-ui-dc-clearthis">
		        {% include logo %}
		        {% include search %}
		    </div>
			{{ content }}
			{% include footer %}
		</div>
		{% include prod-cat-column %}
		<script type="text/javascript">
			$(function() {
				$(".soa-control-dc-tabs").tabs();
				$(".soa-control-dc-tabs").show();
			});
	</body>
</html>
